<script src="<{$block.script_url}><{$block.jsfile}>"></script>

<{if $block.menu_menu.kind == vertical}>
<div id="dhtmlgoodies_slidedown_menu">
<{/if}>
<{if $block.menu_menu.kind == horizontal}>
<div id="horiznav">
<{/if}>
<ul>
	<{if $block.menu_menu.display_home}>
		<li>
			<a class="menu_homelink" href="<{$icms_url}>" title="<{$block.menu_menu.home_title}>">
				<{if $block.menu_menu.display_img == 1 || $block.menu_menu.display_img == 2 }>
					<{$block.menu_menu.home_title}>
				<{/if}>
				<{if $block.menu_menu.display_img == 1 || $block.menu_menu.display_img == 3 }>
					<img class="item_image" id="item_icon_<{$block.menu_menu.id}>" src="<{$block.menu_menu.home_img}>" alt="<{$block.menu_menu.home_title}>" />
				<{/if}>
			</a>
		</li>
	<{/if}>
	<{foreach item=item from=$block.menu_items}>
		<{includeq file="db:menu_single_item.html"}>
	<{/foreach}>
</ul>
</div>
<{if $block.menu_menu.kind == vertical}>
	<script type="text/javascript">
			initSlideDownMenu();
	</script>
<{/if}>
