<{if $block.megamenu}>
	<{if $item.accessGranted}>
		<li <{if $block.megamenu.display_img == 1}> style="background: url(<{$item.img}>) no-repeat;"<{/if}>>
			<a class="menu_menulink" href="<{$item.url}>" title="<{$item.title}>" target="<{$item.target}>" <{if $item.target == "_blank"}> rel="external" <{/if}> >
				<{if $block.megamenu.display_img == 1 || $block.megamenu.display_img == 2 }>
					<{$item.title}>
				<{/if}>
			</a>
			<{if $block.megamenu.display_dsc}>
				<div class="item_dsc">
					<{$item.title}>
				</div>
			<{/if}>
			<{if $item.hassub}>
				<ul>
					<{foreach item=item from=$item.subs}>
						<{includeq file="db:menu_single_item.html"}>
					<{/foreach}>
				</ul>
			<{/if}>
		</li>
	<{/if}>
<{elseif $block.menu_menu}>
	<{if $item.accessGranted}>
		<li>
			<a class="menu_menulink" href="<{$item.url}>" title="<{$item.title}>" target="<{$item.target}>" <{if $item.target == "_blank"}> rel="external" <{/if}> >
				<{if $block.menu_menu.display_img == 1 || $block.menu_menu.display_img == 2 }>
					<{$item.title}>
				<{/if}>
				<{if $block.menu_menu.display_img == 1 || $block.menu_menu.display_img == 3 }>
					<img class="item_image" id="item_icon_<{$item.id}>" src="<{$item.img}>" alt="<{$item.title}>" />
				<{/if}>
			</a>
			<{if $block.menu_menu.display_dsc}>
				<div class="item_dsc">
					<{$item.title}>
				</div>
			<{/if}>
			<{if $item.hassub}>
				<ul>
					<{foreach item=item from=$item.subs}>
						<{includeq file="db:menu_single_item.html"}>
					<{/foreach}>
				</ul>
			<{/if}>
		</li>
	<{/if}>
<{/if}>