<{if $block.megamenu}>
		<li class="menu-item <{if $smarty.foreach.menuitems.last}>last<{elseif !$block.menu_menu.menu_home && $smarty.foreach.menuitems.first}>first<{elseif $item.isCurrent}>active<{/if}>" <{if $block.display_images == 1 && $item.item_pid && $item.hassub > "0"}> style="background: url(<{$item.img}>) no-repeat;"<{/if}>>
			<a class="menu_menulink" href="<{$item.url}>" title="<{$item.item_name}>"<{if $item.item_target == 3}> target="_blank" rel="external"<{/if}>>
				<{if $block.megamenu.menu_images == 1 || $block.megamenu.menu_images == 2 }>
					<span class="item-name"><{$item.item_name}></span>
				<{/if}>
			</a>
			<{if $block.megamenu.menu_items_dsc}>
				<span class="item-description"><{$item.item_dsc}></span>
			<{/if}>
			<{if $item.hassub && $item.subs}>
				<ul class="submenu">
					<{foreach item=item from=$item.subs name=subs}>
						<{includeq file="db:menu_single_item.html"}>
					<{/foreach}>
				</ul>
			<{/if}>
		</li>
<{elseif $block.menu_menu}>
	<li class="menu-item <{if $smarty.foreach.menuitems.last}>last<{elseif !$block.menu_menu.menu_home && $smarty.foreach.menuitems.first}>first<{elseif $item.isCurrent}>active<{/if}>">
		<a href="<{$item.url}>" title="<{$item.item_name}>"<{if $item.item_target == 3}> target="_blank" rel="external"<{/if}>>
			<{if $block.menu_menu.menu_images == 1 || $block.menu_menu.menu_images == 2 }>
				<span class="item-name"><{$item.item_name}></span>
			<{/if}>
			<{if $item.img &&  ($block.menu_menu.menu_images == 1 || $block.menu_menu.menu_images == 3) }>
				<img class="item-image" src="<{$item.img}>" width="img_width" alt="<{$item.item_name}>" />
			<{/if}>
		</a>
		<{if $block.menu_menu.menu_items_dsc}>
			<span class="item-description"><{$item.item_dsc}></span>
		<{/if}>
		<{if $item.hassub && $item.subs}>
			<ul class="submenu">
				<{foreach item=item from=$item.subs name=menuitems}>
					<{includeq file="db:menu_single_item.html"}>
				<{/foreach}>
			</ul>
		<{/if}>
	</li>
<{/if}>